<!DOCTYPE html>
<html>
   <head>
	  {% load static %}
	  <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Login</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" media="screen" href="css/estilo.css">
   </head>
   <body>
      <div id="geral">
         <div id="cabecalho">
            <img id="logotipo" src="{% static 'img/teste_logo.png' %}" alt="Logotipo" style="width:105px;">
         </div>
         <div id="subcabecalho">
            <ul  align="center">
               <li>
                  <a href="index.html">Home</a>
               </li>
               <li>
                  <a href="Noticias.html">Noticias</a>
               </li>
               <li>
                  <a href="Disciplina.html">Disciplina</a>
               </li>
               <li>
                  <a href="Lista_De_Cursos.html">Lista de Cursos</a>
               </li>
               <li>
                  <a href="Detalhe Curso.html">Detalhes do Curso</a>
               </li>
               <li>
                <a href="Cadastro.html">Cadastro</a>
             </li>
               <li>
                <a href="Login.html">Login</a>
             </li>
            </ul>
         </div>
<form action="action_page.php">
<br/>
<br/>  
    <div class="container">
      <label for="uname"><b>Nome</b></label>
      <input type="text" placeholder="Usuario" name="uname" required>
  
      <label for="sobrenome"><b>Sobrenome</b></label>
      <input type="text" placeholder="Sobrenome" name="sobrenome" required>

      <label for="Genero"><b>Sexo</b></label>
      <input type="text" placeholder="Sexo" name="sexo" required>

      <label for="endereco"><b>Endereço</b></label>
      <input type="text" placeholder="Endereço" name="endereco" required>

      <label for="telefone"><b>Telefone</b></label>
      <input type="text" placeholder="Telefone" name="telefone" required>

      <label for="email"><b>E-mail</b></label>
      <input type="text" placeholder="E-mail" name="email" required>
    </div>

    <label>
        <input type="checkbox" name="remember">Aluno
    </label>
    <label>
        <input type="checkbox" name="remember">Professor
    </label>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancelar</button>
      <button type="submit">Confirmar</button>
    </div>
</form>
</body>
</html>
