<!DOCTYPE html>
<html>
   <head>
	  {% load static %}
	  <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Detalhes Cursos</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" media="screen" href="css/estilo.css">
   </head>
   <body>
      <div id="geral">
         <div id="cabecalho">
            <img id="logotipo" src="{% static 'img/teste_logo.png' %}" alt="Logotipo" style="width:105px;">
         </div>
         <div id="subcabecalho">
            <ul  align="center">
               <li>
                  <a href="index">Home</a>
               </li>
               <li>
                  <a href="Noticias">Noticias</a>
               </li>
               <li>
                  <a href="Disciplina">Disciplina</a>
               </li>
               <li>
                  <a href="Lista_De_Cursos">Lista de Cursos</a>
               </li>
               <li>
                  <a href="Detalhe Curso">Detalhes do Curso</a>
               </li>
               <li>
                <a href="Cadastro">Cadastro</a>
             </li>
               <li>
                <a href="Login">Login</a>
             </li>
            </ul>
         </div>
         <div id="meio">
            <h1 align="center">
               <marquee scrollamount="13" width="500" >Incrições Abertas. Matricule-se já!</marquee>
            </h1>
         </div>
         <div id="corpo">
            <ul  align="center">
               <h1>Graduação</h1>
               <br>  
               <dt>
                  <h3>Ciência da Computação</h3>
                  <br>
                  <br>
                  <h4> <u> Sobre o Curso</u> </h4>
                  <p>O curso de Bacharelado em Ciência da Computação é ideal para quem
                     deseja uma formação sólida na área de informática. Ele forma profissionais
                     qualificados para a elaboração de programas e sistemas de informática para
                     computadores ou dispositivos móveis, como celulares e tablets. 
                  </p>
                  <br> 
                  <br>
                  <h3>Administração</h3>
                  <h4> <u> Sobre o Curso</u> </h4>
                  <p>Tornar-se um líder. Ser um empreendedor. Fazer investimentos. Você tem
                     inúmeras possibilidades na graduação em Administração da Faculdade
                     Impacta. 
                  </p>
                  <br>
                  <br>
                  <h3>Engenharia da Computação</h3>
                  <h4> <u> Sobre o Curso</u> </h4>
                  <p>A graduação em Engenharia da Computação busca formar profissionais
                     para atuar em processos de automação, integrando aspectos relacionados
                     ao desenvolvimento e gerência de projetos de hardware e software. Tais
                     aspectos envolvem sistemas embarcados, sistemas de tempo real, sistemas
                     integrados de hardware e software, sistemas distribuídos, redes de
                     computadores, robótica e Internet das Coisas.
                  </p>
                  <br>
                  <br>
                  <h3>Sistemas da Informação</h3>
                  <h4> <u> Sobre o Curso</u> </h4>
                  <p>A Graduação de Sistemas de Informação prepara o aluno para ser um
                     profissional transformador do mercado, desenvolvendo soluções inovadoras
                     e criativas na construção e utilização de Sistemas de Informação.
                  </p>
                  <br>
                  <br>
               </dt>
               <br>
               <br>
               <h1>Tecnólogo</h1>
               <dl>
                  <dt>Análise e Desenvolvimento de Sistemas</dt>
                  <dd>Análise e Desenvolvimento de Sistemas EAD</dd>
                  <dt>Banco de Dados</dt>
                  <dd>Gestão da Tecnologia da Informação</dd>
                  <dt>Jogos Digitais</dt>
                  <dd>Processos Gerenciais</dd>
                  <dt>Produção Multimídia</dt>
                  <dd>Redes de Computadores</dd>
               </dl>
            </ul>
            <br>
            <br>
         </div>
         <div id="rodape">
            <p><strong>Versão 1.0.0</strong></p>
         </div>
      </div>
   </body>
</html>