<!DOCTYPE html>
<html>
   <head>
      {% load static %}
	  <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Lista de Cursos</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" media="screen" href="css/estilo.css">
   </head>
   <body>
      <div id="geral">
         <div id="cabecalho">
            <img id="logotipo" src="{% static 'img/teste_logo.png' %}" alt="Logotipo" style="width:105px;">
         </div>
         <div id="subcabecalho">
                        <ul  align="center">
               <li>
                  <a href="index">Home</a>
               </li>
               <li>
                  <a href="Noticias">Noticias</a>
               </li>
               <li>
                  <a href="Disciplina">Disciplina</a>
               </li>
               <li>
                  <a href="Lista_De_Cursos">Lista de Cursos</a>
               </li>
               <li>
                  <a href="Detalhe Curso">Detalhes do Curso</a>
               </li>
               <li>
                <a href="Cadastro">Cadastro</a>
             </li>
               <li>
                <a href="Login">Login</a>
             </li>
            </ul>
         </div>
         <div id="meio">
            <h1 align="center">
               <marquee scrollamount="13" width="500" >Incrições Abertas. Matricule-se já!</marquee>
            </h1>
         </div>
         <div id="corpo">
            <ul  align="center">
               <strong>ESCOLHA A GRADUAÇÃO QUE VAI REVOLUCIONAR </strong>
               <br>
               <br>
               <table id="customers">
                  <tr>
                     <th>Curso</th>
                     <th>Horario</th>
                     <th>Valor</th>
                  </tr>
                  <tr>
                     <td>Administração</td>
                     <td>Noturno</td>
                     <td>R$ 782,00</td>
                  </tr>
                  <tr>
                     <td>Ciência da Computação</td>
                     <td>Noturno</td>
                     <td>R$ 882,00</td>
                  </tr>
                  <td>Engenharia da Computação</td>
                  <td>Noturno</td>
                  <td>R$ 1082,00</td>
                  <tr>
                     <td>Sistemas de Informação</td>
                     <td>Noturno</td>
                     <td>R$ 1000,00</td>
                  </tr>
                  <tr>
                     <td>Análise e Desenvolvimento de Sistemas</td>
                     <td>Noturno</td>
                     <td>R$ 752,00</td>
                  </tr>
                  <tr>
                     <td>Análise e Desenvolvimento de Sistemas EAD</td>
                     <td>Noturno</td>
                     <td>R$ 658,00</td>
                  </tr>
                  <tr>
                     <td>Banco de Dados</td>
                     <td>Noturno</td>
                     <td>R$ 438,00</td>
                  </tr>
                  <tr>
                     <td>Gestão da Tecnologia da Informação</td>
                     <td>Noturno</td>
                     <td>R$ 428,00</td>
                  </tr>
                  <tr>
                     <td>Jogos Digitais</td>
                     <td>Noturno</td>
                     <td>R$ 550,00</td>
                  </tr>
                  <tr>
                     <td>Processos Gerenciais</td>
                     <td>Noturno</td>
                     <td>R$ 600,00</td>
                  <tr>
                  </tr>
                  <td>Produção Multimídia</td>
                  <td>Noturno</td>
                  <td>R$ 1200,00</td>
                  <tr>
                  </tr>
                  <tr>
                     <td>Redes de Computadores</td>
                     <td>Noturno</td>
                     <td>R$ 800,00</td>
                  </tr>
               </table>
               </dl>
            </ul>
         </div>
         <div id="rodape">
            <p><strong>Versão 1.0.0</strong></p>
         </div>
      </div>
   </body>
</html>